<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    
        <title>Cadastrar</title>
    </head>

    <body>
        <form action="/" method="POST">
            <label id="lCpf" name="lCpf">CPF:</label><br>
            <input type="text" id="tCpf" minlength="11" maxlength="11" name="tNovoCpf" placeholder="Informe seu CPF"/><br>

            <label id="lNome" name="lNome">Seu Nome:</label><br>
            <input type="text" id="tNome" name="tNovoNome" placeholder="Digite seu nome"/><br>

            <label id="lDataDeNascimento" name="lDataDeNascimento">Data de Nascimento:</label><br>
            <input type="date" id="tDataDeNascimento" name="tNovoDataDeNascimento"/><br>

            <label id="lCidadeDeNascimento" name="lCidadeDeNascimento">Cidade de Nascimento:</label><br>
            <input type="text" id="tCidadeDeNascimento" name="tNovoCidadeDeNascimento" placeholder="Informe sua cidade que você nasceu:"/><br>

            <label id="lRacaCor" name="lRacaCor">Raça/Cor: </label><br>
            <input type="text" id="tRacaCor" name="tNovoRacaCor"/><br>

            <label id="lMoradia" name="lMoradia">Moradia: </label><br>
            <input type="text" id="tMoradia" name="tNovaMoradia"/><br>

            <label id="lCartaoSus" name="lCartaoSus">Cartão SUS: </label><br>
            <input type="text" id="tCartaoSus" name="tNovoCartaoSus"/><br>

            <label id="lPai" name="lPai">Nome do Pai: </label><br>
            <input type="text" id="tPai" name="tNovoPai"/><br>

            <label id="lMae" name="lMae">Nome da Mãe: </label><br>
            <input type="text" id="tMae" name="tNovaMae"/><br>

            <label id="lSabeLerEscrever" name="lSabeLerEscrever">Sabe Ler/Escrever: </label><br>
            <input type="text" id="tSabeLerEscrever" name="tNovaSabeLerEscrever"/><br>

            <label id="lEscolaridade" name="lEscolaridade">Escolaridade: </label><br>
            <input type="text" id="tEscolaridade" name="tNovaEscolaridade"/><br>

            <label id="lRua" name="lRua">Rua: </label><br>
            <input type="text" id="tRua" name="tNovaRua"/><br>

            <label id="lCidade" name="lCidade">Cidade: </label><br>
            <input type="text" id="tCidade" name="tNovaCidade"/><br>

            <label id="lBairro" name="lBairro">Bairro: </label><br>
            <input type="text" id="tBairro" name="tNovaBairro"/><br>

            <label id="lNumero" name="lNumero">Número: </label><br>
            <input type="text" id="tNumero" name="tNovaNumero"/><br>

            <label id="lCep" name="lCep">Cep: </label><br>
            <input type="text" id="tCep" name="tNovaCep"/><br>

            <label id="lMunicipio" name="lMunicipio">Município: </label><br>
            <input type="text" id="tMunicipio" name="tNovaMunicipio"/><br>

            <label id="lEstado" name="lEstado">Estado: </label><br>
            <input type="text" id="tEstado" name="tNovaEstado"/><br>

            <label id="lComplemento" name="lComplemento">Cmplemento: </label><br>
            <input type="text" id="tComplemento" name="tNovaComplemento"/><br>

            <label id="lTelefone" name="lTelefone">Telefone: </label><br>
            <input type="text" id="tTelefone" name="tNovaTelefone"/><br>

            <label id="lEmail" name="lEmail">Email: </label><br>
            <input type="text" id="tEmail" name="tNovaEmail"/><br>

            <label id="lEstacaoConjugal" name="lEstacaoConjugal">Situação Conjugal: </label><br>
            <input type="text" id="tNovoConjugue" name="tNovoConjugue"/><br>

            <label id="lProfissao" name="lProfissao">Profissão: </label><br>
            <input type="text" id="tProfissao" name="tNovaProfissao"/><br>

            <label id="lConvenio" name="lConvenio">Convênio: </label><br>
            <input type="text" id="tConvenio" name="tNovaConvenio"/><br>

            <label id="lDeficiencia" name="lDeficiencia">Deficiência: </label><br>
            <input type="text" id="tDeficiencia" name="tNovaDeficiencia"/><br>

            <label id="lTipoSanguineo" name="lTipoSanguineo">Tipo Sanguíneo: </label><br>
            <input type="text" id="tTipoSanguineo" name="tNovaTipoSanguineo"/><br>

            <label id="lFatorRH" name="lFatorRH">Fator RH: </label><br>
            <input type="text" id="tFatorRH" name="tNovaFatorRH"/><br>

            <label id="lNomeResponsavel" name="lNomeResponsavel">Nome do Responsável: </label><br>
            <input type="text" id="tNomeResponsavel" name="tNovoNomeResponsavel"/><br>

            <label id="lVinculoResponsavel" name="lVinculoResponsavel">Vinculo Responsável: </label><br>
            <input type="text" id="tVinculoResponsavel" name="tNovaVinculoResponsavel"/><br>

            <label id="lTelefoneResponsavel" name="lTelefoneResponsavel">Telefone do Responsável: </label><br>
            <input type="text" id="tTelefoneResponsavel" name="tNovaTelefoneResponsavel"/><br>

            <label id="lEnderecoResponsavel" name="lEnderecoResponsavel">Endereco do Responsável: </label><br>
            <input type="text" id="tEnderecoResponsavel" name="tNovaEnderecoResponsavel"/><br>

            


            <select name="lmoraResponsavel" id="lmoraResponsavel">
                <option value="Sim">Sim</option>
                <option value="Não">Não</option>
            </select>
            
           
            <button type="submit">Cadastrar</button>
        </form>
        <label id="result" name="result">{{resultado}}</label>

        <form action="/consultar.html" method="POST">
            <label id ="lCpf" name = "lCpf">CPF: </label>
            <input type="number" id="tCpf" name="tNovoCpf">
        </form>

      

        <br><br>
        <a href="atualizar.html"><button>Atualizar</button></a>

        <br><br>
        <a href="excluir.html"><button>Excluir</button></a>
    </body>
</html>