<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
    

        <title>{{Titulo}}</title>
    </head>

    <body>
        <form action ='/atualizar.html' method="POST">
           <label>Campo: ></label><br>
           <select name ="tCampo">
                <option value="cpf">CPF</option> 
                <option value="nome">Nome</option> 
                <option value="dataDeNascimento">Data de Nascimento</option> 
                <option value="cidadeDeNascimento">Cidade que Nasceu</option> 
                <option value="racaCor">Raça/Cor</option>
                <option value="moradia">Moradia</option> 
                <option value="cartaoSus">Cartão SUS</option>
                <option value="pai">Nome do Pai</option>
                <option value="mae">Nome da Mãe</option>
                <option value="sabeLerEscrever">Saber Ler/Escrever</option>
                <option value="escolaridade">Escolaridade</option>
                <option value="rua">Rua</option>
                <option value="cidade">Cidade</option>
                <option value="bairro">Bairro</option>
                <option value="numero">Número</option>
                <option value="cep">CEP</option>
                <option value="municipio">Municipio</option>
                <option value="estado">Estado</option>
                <option value="complemento">Complemento</option>
                <option value="telefone">Telefone</option>
                <option value="email">Email</option> 
                <option value="estacaoConjugal">Estação Conjugal</option>
                <option value="profissao">Profissão</option>]
                <option value="convenio">Convênio</option>
                <option value="deficiencia">Deficiência</option>
                <option value="tipoSanguineo">Tipo Sanguineo</option>
                <option value="fatorRH">Fator RH</option>
                <option value="nomeResponsavel">Nome do Responsável</option>
                <option value="vinculoResponsavel">Vinculo com o Responsável</option>
                <option value="telefoneResponsavel">Telefone do Responsável</option>
                <option value="enderecoResponsavel">Endereço do Responsável</option> 
                <option value="moraResponsavel">Mora com o Responsável</option> 
                <option value="dataCadastrada">Data Cadastrada</option>
           </select>
           <br><br>

           
           <label>Novo Dado: </label><br>
           <input type="text" name="tDado" placeholder="Informe o novo dado"/>
           <input type="number" id="tCpf" name="tNovaCpf"/><br>
           <br><br>

           <button type="submit">Atualizar</button>
           <h6>{{dados}}</h6>

        </form>
    </body>
</html>